body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(170, 169, 169);
}
.login-Container {
  display: block;
  color: white;
  border-color:  rgb(170, 169, 169);
  border-style: solid;
  border-radius: 45px;
  border-width: 1px;
  width: 50vh;
  height: auto;
  margin-top: 15vh;
  background-color: #030202;
}
.loginTitle {
  color: white;
  margin-top: 2vh;
  margin-bottom: 5vh;
  font-size: 35px;
}
.main-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greeting {
  margin-right: 2vh;
  color: white;
  font-size: 20px;
}
input {
  border-radius: 10px;
}
input[type="text"],
input[type="password"] {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: red;
  border: 1px solid #030202;
  color: #fff;
  padding: 10px 20px;
}
input[type="submit"]:hover {
  background: #6cf0c2;
}
.button-container {
  display: flex;
  justify-content: center;
}
.list-container {
  display: flex;
}
.error {
  color: red;
  font-size: 12px;
}
.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 100px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}
.textBox1 {
  width: 70%;
  height: 50px;
}
.textBox2 {
  width: 70%;
  height: 50px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.login-btn {
  padding:10px 20px;
  color: white;
  background-color: rgb(170, 169, 169);
  border:none;
  border-radius:8px;
  margin:0px 15px;
  font-size: 15px;
  margin-bottom: 2vh;
}
.login-btn:hover {
  color: black;
  background-color: #d43838;
}