* {
  margin: 0;
  padding: 0;
  --red: #d43838;
  --green: #38d467;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(156, 40, 40);
}
.body {
  background-color: rgb(170, 169, 169);
}
.main-Container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
section {
  background-color: #030202;
  margin-bottom: 10vh;
}
.excercise-Container {
  color: white;
  border: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  height: auto;
  width: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #030202;
}
.workoutContainer {
  color: white;
  border: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  height: auto;
  width: 120vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #030202;
}
.excerciseTitle {
  margin-top: 3vh;
  margin-bottom: 5vh;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.workoutsTitle {
  margin-top: 3vh;
  font-size: 30px;
  font-weight: 600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.addWorkoutSection {
  display: flex;
}
.addWorkout {
  margin-bottom: 4vh;
  display: flex;
  text-align: center;
}
.addWorkout-btn {
  padding: 10px 20px;
  color: white;
  background-color: rgb(170, 169, 169);
  border: none;
  border-radius: 8px;
  margin: 0px 15px;
  font-size: 15px;
  margin-bottom: 3vh;
  width: 12vh;
}
.addWorkout-btn:hover {
  color: black;
  background-color: #d43838;
}
.workoutF {
  display: flex;
  justify-content: center;
}
/* WorkoutList CSS */
.workoutTitle {
  color: black;
  font-size: larger;
  font-weight: 600;

}
.card-style {
  width: 22%;
  height: 12vh;
  border-color: rgb(170, 169, 169);
  border-style: solid;
  border-radius: 15px;
}
.card-layout {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7vh;
  margin-right: 8vh;
}
.workoutTitle {
  color: rgb(255, 255, 255);
  height: 3vh;
}
.seeWorkout-btn {
  padding: 10px 20px;
  color: white;
  background-color: rgb(170, 169, 169);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 2vh;
  margin-bottom: 3vh;
  text-decoration: none;
}
.seeWorkout-btn:hover {
  color: black;
  background-color: #d43838;
}
.card-body-style {
  margin-top: 1vh;
  margin-bottom: 1.5vh;
}
.excerciseBar{
  margin-bottom: 1.5vh;
  
}
.addSectionName {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-left: 20vh;
}
.addSectionName input {
  text-align: center;
}
.addSection {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-left: 20vh;
}
.excerciseBtnSection {
  display: flex;
  justify-content: center;
}
.addEcercise-btn {
  padding: 10px 20px;
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.addEcercise-btn:hover {
  color: #030202;
}
.noExcercises {
  margin-bottom: 3vh;
}