* {
  margin: 0;
  padding: 0;
  --red: #d43838;
  --green: #38d467;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(156, 40, 40);
}
.body {
  background-color: rgb(156, 40, 40);
}
.main-Container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
section {
  background-color: #030202;
  margin-bottom: 10vh;
}
.excercise-Container {
  color: white;
  border: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  height: 25vh;
  width: 100vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.workoutContainer {
  color: white;
  border: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  height: auto;
  width: 120vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.addWorkout {
  display: block;
  justify-items: center;
  width: 80%;
}
.addWorkout-btn {
  padding:10px 20px;
  color: white;
  background-color: var(--red);
  border:none;
  border-radius:8px;
  margin:0px 15px;
  font-size: 15px;
}
.addWorkout-btn:hover {
  color: black;
}

.workoutTitle {
  color:#030202
}