footer {
    bottom: 0;
    height: auto;
    color: white;
    margin-top: 5vh;
    background-color: #030202;
}
p {
    padding: 5px;
    
}

.credits {
    display:flex;
    align-items: center;
    justify-content: center;
}